<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=event.author.username) }}">
                <img src="{{ event.author.avatar(36) }}">
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=event.author.username) }}">
                {{ event.author.username }}
            </a>
            created: {{ event.body }} at {{ event.date.strftime("%d.%m.%Y") }} {{ moment(event.timestamp).fromNow() }}
        </td>
    </tr>
</table>
