{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.event.label }}<br>
            {{ form.event(cols=32, rows=4) }}<br>
            {% for error in form.event.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
	    {{ form.date.label }}<br>
            {{ form.date }}<br>
	    {% for error in form.event.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
	</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for event in events %}
        {% include '_event.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer events</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older events</a>
    {% endif %}
{% endblock %}
